<!DOCTYPE html>
<html lang="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/jQuery-3.3.js"></script>    
    <script src="/js/bootstrap.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://fonts.goo.leapis.com/css?family=Great+Vibes|Lobster|Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Gupter|Lobster|Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Great+Vibes|Gupter|Lobster|Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/animate.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg col fixed-top sm-bg-light d-flex navbar-default justify-content-around">
    <a class="navbar-brand" href="#"><i class="fas fa-seedling cl"></i></a>
    <button class="navbar-toggler  butt bg-light navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link lin" href="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link lin" href="about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link lin" href="Contact">contact us</a>
        </li>
        
      </ul>
     
    </div>
  </nav>

  <div class="jumbotron ju ">
    <div id="jumb-overlay" class="d-flex align-items-center ">
      <div class="container">
            <h1 class="p-two text-black display-1 animated bounceInDown">About Our Company
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores ut quae deleniti, dolorum atque labore corrupti recusandae,  consequuntur illum in praesentium!</p>
      </div>
    </div>
      
  </div>
  <section class="container">
    
    <div class="row  mt-5">
      <div class="col-10">
      <h3 class="hthr">We own the best farm ever.</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
         reprehenderit ducimus deserunt, beatae soluta voluptas, minus vel quidem eaque
          illum tempora?
         Aliquid cumque recusandae dolorum est amet ea vitae perferendis.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, libero
         ipsum tempore, culpa aspernatur reprehenderit magnam qui illum repellendus vitae facere 
        voluptatum magni animi, iusto sunt doloremque iste enim unde.</p>   
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit 
        illum ad dolor officia dignissimos explicabo, officiis dolorem aperiam ab hic ipsam, 
        illo quod tempore itaque?
         Numquam doloremque explicabo libero consectetur.</p>  
      </div>
      <div class="col-2">
        <img src="Images/—Pngtree—wheat ears grain ear cartoon_3854920.png" class="img-fluid">
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row text-center">
      <div class="col-8 offset-2">
         <h3>Our Team</h3>
         <p>Lorem ipsum dolor,  Doloremque ut facilis omnis ipsam maiores a tempo.</p>
         
      </div>
    </div>
  </section>
  <section class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12">
          <img src="Images/brooke-cagle-QZRAaYfmvA8-unsplash.jpg" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-12">
          <img src="images/charles-etoroma-95UF6LXe-Lo-unsplash.jpg" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-12">
          <img src="Images/christopher-campbell-rDEOVtE7vOs-unsplash.jpg" class="img-fluid">
        </div>
      </div>  
      <div class="row">
        <div class="col-lg-4 col-md-12 ">
          <img src="images/matheus-ferrero-W7b3eDUb_2I-unsplash.jpg" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-12 ">
          <img src="images/marius-ciocirlan-vMV6r4VRhJ8-unsplash.jpg" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-12">
          <img src="images/fezbot2000-pqYPRPHNE_8-unsplash.jpg"class="img-fluid">
        </div>
      </div>
  </section>
  <section class="container">
    <div class="row text-center mt-5">
      <div class="col-8 offset-2">
         <h3>Our partners</h3>
         <p>Lorem ipsum dolor,  Doloremque ut facilis omnis ipsam maiores a tempo.</p>
         
      </div>
    </div>
  </section>

  <section class="container">
    <div class="row mt-5">
      <div class=" col-6 col-lg-3">
        <img src="Images/Icons-Icon-images-Brands-Logos-Brand-Logo-icons-trademark--602png.png" class="img-fluid">
      </div>
      <div class="col-6 col-lg-3">
        <img src="images/Icons-Icon-images-Brands-Logos-Brand-Logo-icons-trademark--605png.png" class="img-fluid">
      </div>
      <div class=" col-6 col-lg-3">
        <img src="Images/Icons-Icon-images-Brands-Logos-Brand-Logo-icons-trademark--610png.png" class="img-fluid">
      </div>
      <div class="col-6 col-lg-3" >
        <img src="Images/Icons-Icon-images-Brands-Logos-Brand-Logo-icons-trademark--609png.png" class="img-fluid">
      </div>
     
    </div>
</section>
<section class="last-sec pt-5">
  <div class="container-fluid">
    <div class="row pb-5">
      <div class="col-sm-4">
       <P><i class="fas fa-seedling"></i>
        Greenfarmland
       </P>
       <p>We are the best farmland ever to exist we are the best
         we produce the best Lorem ipsum dolor sit  illum rerum eveniet, magni tempora nostrum voluptatibus delectus cupiditate pariatur?.
       </p>
      </div>
      <div class="col-sm-4 ">
        <p class="pl-3">Links</p>
        <ul>
          <li>Home</li>
          <li>Contact</li>
          <li>pages</li>
          <li>Links</li>
        </ul>
      </div>
      <div class="col-sm-4 ">
        <p class="pl-3">Contacts</p>
        <ul>
          <li>0812667787</li>
          <li>0983733999</li>
          <li>8764469900</li>
          <li>address:10,allen lagos</li>
        </ul>
        
      </div>
    </div>
  </div>
</section>
<section class="last">
  <div class="container ">
    <div class="row">
      <div class="col-4 offset-4 text-center text-white ">Copyright @2020</div>
    </div>
  </div>
</section>
  <script>
      $(window).scroll(function(){
        	$('nav').toggleClass('scrolled', $(this).scrollTop() > 50);
});

$(function(){
              $('.butt').on('click' ,function(e){
                $('.collapse').css({
                    'background-color':'white',
                    'padding-left':'+=30'
                })
              })
          })
  </script>
</body>

</html>