<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/jQuery-3.3.js"></script>    
    <script src="/js/bootstrap.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://fonts.goo.leapis.com/css?family=Great+Vibes|Lobster|Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Gupter|Lobster|Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Great+Vibes|Gupter|Lobster|Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/animate.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg col fixed-top sm-bg-light d-flex navbar-default justify-content-around">
        <a class="navbar-brand" href="#"><i class="fas fa-seedling cl"></i></a>
        <button class="navbar-toggler  butt bg-light navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link lin" href="home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link lin" href="about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link lin" href="Contact">Shop</a>
            </li>
            
          </ul>
         
        </div>
      </nav>

      <div class="jumbotron jub ">
        <div id="jumb-overlay" class="d-flex text-center">
          <div class="container">
                <h1 class="p-one text-black display-1 animated bounceInDown">Welcome to Green Farmland
                </h1>
                
          </div>
        </div>
          
      </div>
      <section class="section1">
        <div class="container">
          <div class="row pt-5 pb-5">
            <div class="col-sm-12  col-lg-12 col-xl-4">
              <h3>We are the world largest producers of food</h3>
            </div>
            <div class="col-sm-12  col-lg-12 col-xl-4">
              <p>Lorem ipsum dolor sit amet 
                consectetur adipisicing elit. Ali
                quam harum saepe dolores, non incidunt omnis dolorem a, ea cum soluta necessitatibus? Ad aliquid consectetur temporibus vitae eligendi culpa modi enim?</p>
            </div>
            <div class="col-sm-12 col-lg-12 col-xl-4">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quia sint odio? Aperiam, labore? Inventore rerum velit voluptas nisi temporibus quidem enim eum ipsum officia fuga. Maxime sed sequi molestias.</p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row mt-5">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
              <img src="Images/bbh-singapore-d2hs0gRFCpQ-unsplash.jpg" class="img-fluid">
               <!-- <img src="Images/wheat-381848_1920.jpg" class="img-fluid pic">  -->
            </div>
            <div class="col-sm-12 col-md-12 ">
               <div class="container-fluid sec">
                  <h1 class="mt-3">Why choose us?</h1>
                  <p class="mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Nihil et cumque quae! Sequi ea voluptates ratione ullam ipsum 
                    excepturi esse ab, unde earum, similique 
                    aperiam quam perspiciatis commodi tempore ut!.</p>
                    <div class="row">
                      <div class="col-lg-6 col-md-12">
                        <h1>Excellent</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                          elit. Minus pariatur ad tempora inventore,debitis nost
                          rum ducimus quas molestiae,
                           illo amet sequi perspiciatis!</p>
                      </div>
                      <div class="col-lg-6 col-md-12">
                        <h1>Quality</h1>
                        <p>Doloribus dolores, similique optio eius mollitia, nostrum fugiat suscipit possimus modi aliquam blanditiis alias quasi praesentium quam fugit. Sapiente nobis sed ipsa.</p>
                      </div>
                    </div>
              </div>
                
            </div>
          </div>
        </div>
      </section>
      <section class="section2"> 
        <div class="overlay">
           <div class="container text-white">
              <div class="row ">
                <div class="col-sm-4 offset-sm-4 mt-5 mb-4">
                  <h2>Our produce</h2>
                </div>
              </div>
              <div class="row mt-5 pb-5">
                <div class=" col-md-6 col-sm-6 ">
                  <div class="contain">  
                    <img src="Images/jakub-kapusnak-vLQzopDRSNI-unsplash.jpg" alt="Avatar" class="image1">
                    <div class="overlay1">
                      <h1 class="text">Fish</h1>
                    </div>
                  </div>
                </div> 
               
                <div class="col-md-6 col-sm-6 ">
                  <div class="contain">  
                    <img src="Images/annie-spratt-JMjNnQ2xFoY-unsplash.jpg" alt="Avatar" class="image1">
                    <div class="overlay1">
                      <h1 class="text">Fish</h1>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 ve">
                  <div class="contain">  
                    <img src="Images/megan-thomas-xMh_ww8HN_Q-unsplash.jpg" alt="Avatar" class="image1">
                    <div class="overlay1">
                      <h1 class="text">Vegetables</h1>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6  gr">
                  <div class="contain">  
                    <img src="Images/wheat-381848_1920.jpg" alt="Avatar" class="image1">
                    <div class="overlay1">
                      <h1 class="text">Grains</h1>
                    </div>
                  </div>
                </div>
              </div>
              </div>
           </div>
        </div>
         
      </section>
      <section class="last-sec pt-5">
        <div class="container-fluid">
          <div class="row pb-5">
            <div class="col-sm-4">
             <P><i class="fas fa-seedling"></i>
              Greenfarmland
             </P>
             <p>We are the best farmland ever to exist we are the best
               we produce the best Lorem ipsum dolor sit  illum rerum eveniet, magni tempora nostrum voluptatibus delectus cupiditate pariatur?.
             </p>
            </div>
            <div class="col-sm-4 ">
              <p class="pl-3">Links</p>
              <ul>
                <li>Home</li>
                <li>Contact</li>
                <li>pages</li>
                <li>Links</li>
              </ul>
            </div>
            <div class="col-sm-4 ">
              <p class="pl-3">Contacts</p>
              <ul>
                <li>0812667787</li>
                <li>0983733999</li>
                <li>8764469900</li>
                <li>address:10,allen lagos</li>
              </ul>
              
            </div>
          </div>
        </div>
      </section>
      <section class="last">
        <div class="container ">
          <div class="row">
            <div class="col-4 offset-4 text-center text-white ">Copyright @2020</div>
          </div>
        </div>
      </section>
      <script>
          $(function(){
              $('.butt').on('click' ,function(e){
                $('.collapse').css({
                    'background-color':'white',
                    'padding-left':'+=30'
                })
              })
          })

          $(window).scroll(function(){
        	$('nav').toggleClass('scrolled', $(this).scrollTop() > 50);
});

      </script>
</body>
</html>